@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;700&display=swap");

html {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  @apply text-[#111942];

  background: url("../images/pattern.png");
  background-repeat: repeat;
}

h2 {
  @apply font-bold text-xl;
}

p {
  @apply mb-2;
}
