@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;700&display=swap");

html {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  @apply text-[#111942];

  background: url("../images/pattern-bis.png");
  background-repeat: repeat;
}

h2 {
  @apply font-bold text-xl;
}

p {
  @apply mb-2;
}

.highlight-container,
.highlight {
  @apply relative;
}

.highlight-container {
  @apply inline-block;
}
.highlight-container:before {
  @apply block w-full -mx-1 absolute transform rotate-2 -top-[1px] -left-[1px] bg-white;

  content: " ";
  height: 90%;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}
